body {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
}

header h1 {
    margin: 0;
    background-color: rgb(59, 118, 245);
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}