body {
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
    background-color: rgb(59, 118, 245);
    text-align: center;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.nav {
    margin-left: auto;
}

footer {
    background-color: #464444;
}

section {
    padding: 60px;
}